ul{
  list-style-type: none;
  padding: 0;
}

li{
  text-decoration: none;
  display: inline-flex;
  padding: 20px;
}

li a{
  text-decoration: none;
  color: #2aa1e6;
}

form{
  display: inline-grid;
}

.error{
  color: red;
}

input.error, textarea.error{
  border: 1px solid red;
}

.form-error{
 color: red;
 background-color: rgb(245, 185, 250);
 padding: 10px;
}
